
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="text-center">
          <% if @team.new_record? %>
            Create New Team
          <% else %>
            Edit Team Settings
          <% end %>
        </h1>
      </div>
      <div class="modal-body">
        <%= form_for(@team) do |f| %>
          <% if @team.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@team.errors.count, "error") %>
                prohibited this team from being saved:</h2>
              <ul>
                <% @team.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control input-lg", placeholder:"Team Name" %>
        </div>
        <div class="form-group">
          <%= f.text_field :mascot , class: "form-control input-lg", placeholder:"Mascot"%>
        </div>
          <% if @team.new_record? %>
            <%= f.submit "Create Team", class: "btn btn-primary" %>
          <% else %>
            <%= f.submit "Submit Changes", class: "btn btn-secondary" %>
          <% end %>

        </div>
        <% end %>

        <% if !@team.new_record? %>
          <div class="form-group" >
            <%= render 'position_add' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
