<a href="/teams/<%= "#{@team.id}".html_safe %>/profile">
    <div class="page-header">
        <h1 id="team-page-header" ><%= @team.name %> <small><%= @team.mascot %></small></h1>
    </div>
</a>

<%= link_to "Schedule", schedule_path(@team), class: "btn btn-default", id: "team-profile-top-btn" %>
<%= link_to "View Availabilities", availabilities_path(@team), class: "btn btn-default",id: "team-profile-top-btn" %>
<%= link_to "View Statistics", player_stats_path(@team), class: "btn btn-default",id: "team-profile-top-btn" %>
