<div class="panel panel-default">
    <div class="panel-heading"><h1>Team Players</h1></div>
    </div>
    <!-- Leaving the body panel of this table empty for now -->
    <div class="panel-body"></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Positions</th>
            </tr>
        </thead>
        <tbody>
          <% @team.team_members.each do |team_member| %>
           <tr>
             <td>
               <p>
                 <%= team_member.member_first_name %>
                 <% if is_a_coach?(team_member) %>
                    (Coach)
                 <% end %>
               </p>
             </td>
             <td><p><%= team_member.member_last_name %></p></td>
             <td>
               <% team_member.positions.each do |position| %>
                 <%= position.title %><br>
               <% end %>
             </td>

             <td>
               <div id="profile-edit-btn" class="btn btn-xs pull-right" onClick="makeVisible(<%= team_member.id %>);">Edit</div>
               <div id="profile-profile-btn" class="btn btn-xs pull-right" onClick="">Profile</div>
             </td>
           </tr>
           <% end %>
        </tbody>
    </table>
    <%= link_to 'New Player', new_team_member_path(team_id: @team.id), class: "btn btn-xs" %>
</div>
