<%= provide(:title, @team.name) %>
<%= render 'header' %>

<%= render 'teams/team_member' %>

<script>
var forms=[];
</script>

<% @team_players.each do |team_player| %>
<tr>
	<td>
		<div id="edit-positions-form-<%= team_player.id %>" class="edit-positions-form">
			<script>
				forms.push(<%= team_player.id %>)
			</script>

			<%= team_player.member_first_name %>
			<%= team_player.member_last_name %>
		
			<%= form_for(@test) do |f| %>
				<%= f.collection_select(:position_id, Position.all, :id, :title) %>
				<%= f.hidden_field :team_member_id, :value => team_player.id %>			
				<%= f.submit %>
			<% end %>
		</div>
	</td>
</tr>
<% end %>

<script>
	for (var i=0; i<forms.length; i++){
		makeHidden(forms[i])
	}
	function makeHidden(id){
		console.log(id);
		$("#edit-positions-form-"+id).hide();
	}
	function makeVisible(id){
		console.log(id);
		$("#edit-positions-form-"+id).show();
	}
</script>