<style>
body .modal {
  /* new custom width */
  width: 500px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -250px;
}
input {
  width: 457px;
}
</style>

<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="text-center">New Team Member</h1>
      </div>
      <div class="modal-body">
        <%= form_for(@team_member,  html: { class: "form col-md-12" }, url: team_members_path) do |f| %>
          <% if @team_member.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@team_member.errors.count, "error") %> prohibited this team member from being saved:</h2>
              <ul>
                <% @team_member.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= f.hidden_field :team_id, :value => @team_adding_id%>
          <div class="form-group">
            <%= f.text_field :member_first_name , class: "form-control input-lg", placeholder:"First name"%>
          </div>
          <div class="form-group">
            <%= f.text_field :member_last_name , class: "form-control input-lg", placeholder:"Last name"%>
          </div>
          <div class="form-group" >
            <%= f.submit "Create Team Member", class: "btn btn-primary" %>
            <%= link_to 'Back', profile_path(id: @team_adding_id), class: "btn pull-right" %>
          </div>
       <% end %>
     </div>
   </div>
 </div>
</div>
