<h1>Editing team_member</h1>
<% provide(:title, "Edit user") %>
<h1>Edit player info</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
     <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :password %>
      <%= f.text_field :password %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>

      <%= f.label :street_address %>
      <%= f.text_field :street_address %>

      <%= f.label :city %>
      <%= f.text_field :city %>

      <%= f.label :state %>
      <%= f.text_field :state %>

      <%= f.label :zipcode %>
      <%= f.text_field :zipcode %>

      <%= link_to 'Edit player positions', teams_profile_path %> 

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    
  </div>
</div>

<%= link_to 'Show', @team_member %> |
<%= link_to 'Back', team_members_path %>


<!-- <h2>Player Positions</h2>
<%= form_for @team_member do -%>
  <% Position.all.each do |position| -%>
    <div>
      <%= check_box_tag :position_ids, position.id, @team_member.positions.include?(position), :name => 'team_member[position_ids][]' -%>
      <%= label_tag :position_ids, position.title -%>
    </div>
  <% end -%>
  <%= submit_tag -%>
<% end -%> -->
<%= link_to 'Show', @team_member %> |
<%= link_to 'Back', team_members_path %>
