<% provide(:title, "Edit user") %>
<h1>Edit player info</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.Firstname :firstName %>
      <%= f.text_field :firstName %>

      <%= f.Lastname :lastName %>
      <%= f.text_field :lacstName %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>