<%= form_for [@team, @event] do |f| %>
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-6 column">
        <div class="form-group">
          <%= f.label :title %><br />
          <%= f.text_field :title, class: "form-control"%>
        </div>
        <div class="row clearfix">
          <div class = "container">
            <div class="col-md-6" >
              <div class="col-md-3 column" >
                <div class="form-group">
                  <%= f.label "Event Type"%>
                </div>
              </div>
              <div class="col-md-3 column" >
                <div class="form-group">
                  <%= f.select :event_type, [["Game", "game"], ["Practice", "practice"]], {}, {class: "form-control pull-left"}%>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="container">
            <div class="col-md-6" style="height:75px;">
              <div class='col-md-6'>
                <div class="form-group">
                  <div class='input-group date' id='datetimepicker9'>
                    <%= f.label :starts_at %>
                    <%= f.datetime_select :starts_at %>
                  </div>
                </div>
              </div>
              <div class='col-md-6'>
                <div class="form-group">
                  <div class='input-group date' id='datetimepicker10'>
                    <%= f.label :ends_at %>
                    <%= f.datetime_select :ends_at %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-md-12 column">
            <div class="form-group">
              <%= f.label :description %><br />
              <%= f.text_area :description, class: "form-control"%>
            </div>
            <div class="actions">
              <%= f.submit class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
