<%= form_for ([@team, @team_player]) do |f| %>
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-3 column">
        <div class="form-group">
        <%= f.text_field :member_first_name, placeholder: "First Name", class: "form-control" %>
      </div>
        <div class="form-group">
        <%= f.text_field :member_last_name, placeholder: "Last Name", class: "form-control" %>
      </div>
      </div>
      <div class="col-md-3 column">
        <%= f.collection_check_boxes(:position_ids, @team.positions, :id, :title) do |b|  %>
          <%= b.label { b.check_box + b.text} %><br>
        <% end %>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-6 column">
        <div class="btn-group">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
