<a href="/team/<%= "#{@team.id}".html_safe %>/profile">
    <div class="page-header">
        <h1 id="team-page-header" ><%= @team.name %> <small><%= @team.mascot %></small></h1>
    </div>
</a>

<%= link_to "Schedule", "/team/#{@team.id}/schedule", class: "btn btn-large btn-primary", id: "team-profile-top-btn" %>
<%= link_to "View Availabilities", "/team/#{@team.id}/player_availabilites", class: "btn btn-large btn-primary",id: "team-profile-top-btn" %>
