<%= provide(:title, @team.name) %>
<div class="page-header">
    <h1><%= @team.name %> <small><%= @team.mascot %></small></h1>
</div>

<%= link_to "Calendar", calendar_path, class: "btn btn-large btn-primary", id: "profile-calendar-btn" %>

<div class="panel panel-default">
    <div class="panel-heading">Team Players</div>
    </div>
    <!-- Leaving the body panel of this table empty for now -->
    <div class="panel-body"></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Positions</th>
            </tr>
        </thead>
        <tbody>
            <% @team_members.each do |team_member| %>
                <tr>
                    <td><p><%= team_member.member_first_name %></p></td>
                    <td><p><%= team_member.member_last_name %></p></td>
                    <td>
                        <% team_member.positions.each do |position| %>
                            <%= position.title %><br>
                        <% end %>
                    </td>
                    <td>
                        <div class="btn btn-xs">Profile</div>
                        <div class="btn btn-xs">Edit</div>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
