<%= provide(:title, @team.name) %>
<%= render 'team/header' %>

<!-- Hidden until calendar event -->
<div class="popupEvent">
    <%= form_for(@team.team_member_availabilities) do |f| %>
        <!-- <%= render 'shared/error_messages', object: f.object %> -->



        <%= f.label :isAvailable %>
        <%= f.text_field :isAvailable %>



        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
</div>


<%= render 'calendar/shared_calendar' %>
